# Managed by Clash Lens ./ops.
[Unit]
Description=Clash Lens
Requires=clashlens-pod.service clashlens-postgres.service clashlens-collector.service clashlens-api.service clashlens-worker.service clashlens-website.service
After=clashlens-postgres.service
@@FIXTURE_REQUIRES@@
@@BACKUP_REQUIRES@@

[Install]
WantedBy=default.target
